body {
	padding-top: 54px;
  	text-align: center;
  	font-family: 'Open Sans Condensed', sans-serif;
  	font-size: 20px;
  	font-weight: lighter;
  	color:  #000000;
  	margin-bottom: 80px;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 50px 0;
}

/* NAVBAR STUFF AND FOOTER STUFF */
.navbar {
    background-color: white;
    border: none !important;
    font-size: 28px;
    text-align: center;
}

.navbar .navbar-collapse {
    text-align: center;
}

ul.nav  a:active {
    color: black !important;
    background-color: transparent;
    text-decoration:none; }

ul.nav a:link {
    color: black !important;
    background-color: transparent;
    text-decoration: none;
}

ul.nav a:visited {
    color:black;
    background-color: transparent;
    text-decoration: none;
}

ul.nav a:hover {
    color: #f18c79 !important;
    background-color: transparent;
    text-decoration:none;
}

div.navbar-default > div.container 
{background-color: white;}

/* INDEX PAGE */
#title {
	text-align: center;
	font-family: 'Lora', serif;
  	font-size: 60px;
  	color:  #f18c79 ;
}

#subtitle {
	text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color:  black ;
}

.emailheader {
	text-align: center;
  	font-family: 'Open Sans Condensed', sans-serif;
  	font-size: 30px;
  	font-weight: lighter;
  	color:  black ;

}
#email {
  width: 100%;
	font-family: 'Cousine', monospace;
	font-size: 24px;
	color: black;
	background-color: rgba(241, 140, 121, 0.6);
  text-align: center !important;

}

.fa {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px !important;
    width: 50px !important; 
    text-decoration: none;
    border-radius: 50%;
    color: #CFCFCF;
}

.fa:hover {
	color: #f18c79;
}

.icons {
  text-align: center !important;
}



/* ABOUT PAGE */

#aboutheader {
	font-size: 30px;
}

#me {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.info {
  width: 50%;
  min-width: 10em;
  margin-left: auto;
  margin-right: auto;

}

a {
	color:#f18c79;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #f18c79 !important;
    background-color: transparent;
    text-decoration:none;
}

.container {
  position: relative;
}

/* MODAL */
.modal-title {
  color: #f18c79 ;
  font-size: 30px !important;
}

.modaltext {
    color: black !important;
    font-size:18px;
    text-align: left;
}

#jobTitle {
	font-size: 25px;
}

#date {
	color : black !important;
	font-size: 20px;
}

#modal61a {
	width: 50%;
	height: 50%;
	padding: 10px;
}

#modalbearmaps {
	padding: 10px;
}



/* THUMBNAIL GALLERY -- used template on bootply */
.thumb {
    margin-bottom: 30px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/* MODAL */
.modal-title {
  color: #f18c79 ;
  font-size: 30px;
}

.modaltext {
    color: black !important;
    font-size: 18px;
}

.modaltitle {
  color: #f18c79 !important;
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #f18c79 !important;
    border: #f18c79 !important;
  	color: white !important;
  	border-radius: 25%;
}










